body {
  background: radial-gradient(#CCC,#999) no-repeat fixed;
}

#letter-container {
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#gen-letters.label.label-default {
  width: 66px !important;
  height: 66px !important;
  font-size: 36px;
  background-color: #CECECE;
}

#score {
  font-size: 36px;
  background-color: red;
}